@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color:#faf4eb;
    /* overflow-x: hidden; */
    /* background-color: rgba(245, 178, 178, 0); */
}
#home_page{
    background-color:#faf4eb;

}
nav{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 10px 20px;
    flex-wrap: wrap;
    color: #3c2c23;
    /* background-color: rgba(245, 148, 80, 0.469); */

}
#nav_one{
       display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
        /* background-color: rgba(245, 148, 80, 0.469); */


}
#nav_one>h1{
    font-family: Georgia ,'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration-line: none;
    color: black;
    /* background-color: rgba(210, 105, 30, 0.571); */


}
#nav_two{
       display: flex;
    justify-content: center;
    align-items: center;
     flex-basis: 55%;
    gap: 50px;
    /* background-color: rgba(210, 105, 30, 0.571); */


}
#nav_two>a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    /* background-color: rgba(210, 105, 30, 0.571); */

}
#nav_three{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-basis: 20%;
     gap: 20px;
}
.fa-solid fa-cart-shopping{
font-size: 34px;
}
#cart_quantity{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 26px;
    bottom: 16px;
    background-color: #fff;
    color: #3c2c23;
    font-weight: 500;
}
#cart_price{
    font-size: 16px;
    color: #3c2c23;
    font-weight: 600;
}
header{
    height: 80vh;
    background: url("assets/home_page.jpg"), no-repeat, center;
    background-size: cover;
    margin: 20px 100px;
    /* filter: brightness(90%); */
    border-radius: 10px ;
    overflow: hidden;
}
#bakery_description{
    height: 35vh;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#bakery_description > h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 2px solid red; */
    margin: 0;
    padding-top: 0;

}
#bakery_description > p{
    margin-top: 10px;
}
#bakery_description > button{
    background-color: rgb(247, 177, 46);
    color: white;
    border: none;
    margin-top: 10px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
    transition: all  1s 0s ease;  
}
#bakery_description > button:hover{
     background-color: rgb(229, 67, 67);
    
}
#bakery_description> h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:40px;

}
#bakery_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    height: 35vh;
    
}

#items_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:70px;
}
#items > img:hover{
    height: 160px;
    width:160px;
    transition: all 0.3s ease;
}
#items > img{
    height: 140px;
    width: 140px;
    border-radius: 5px;
}
#items > p{
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
footer{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer>h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
footer >p{
    font-size: 15px;
}
#secondp{
      bottom: 25px;
      margin-bottom: 14px;
}
footer>button{
      background-color: rgb(247, 177, 46);
    color: white;
    border: none;
    margin-top: 10px;
    font-weight: 500;
    padding: 10px 30px;
    display: flex;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    transform: all 1s 0s ease;
}
footer>button:hover{
    background-color: rgb(229, 67, 67);
}

/* !About Page_Styles */

#about_bakery{
    /* border: 2px solid black; */
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}
#about_bakery>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
#about_bakery>p{
    text-align: center;
    margin: 0px 25px;
    font-size: 16px;
    
}
#about_bakery_desc{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#desc_one{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#desc_one>h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#desc_one>p{
    text-align: center;
    padding: 0px 30px;
    margin: 10px;
    font-size: 14px;

}
#desc_two{
    flex-basis: 40%;
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#desc_two>img{
    height: 80%;
    width: 80%;
    border-radius: 5px;
}
#desc_three{
    flex-basis: 30%;
    
}
#desc_three>h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#desc_three>p{
    text-align: center;
    padding: 0px 30px;
    margin: 10px;
    font-size: 14px;
}
#about_foot{
    /* border: 2px solid red; */
    margin-top: 40px;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foot_one{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 70px;
}
#foot_one>h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
#foot_one>button{
        background-color: rgb(247, 177, 46);
    color: white;
    border: none;
    margin-top: 10px;
    font-weight: 500;
    padding: 10px 30px;
    display: flex;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    transition: all 1s 0s ease;
}
#foot_one>button:hover{
    background-color: rgb(229, 67, 67);
}
#foot_two{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foot_two>img{
    height: 200px;
    width: 320px;
    border-radius: 10px;
}
/* !Contact_Page_Styles */
#contact_page{
    height: 85vh;
    /* border: 2px solid red; */
     display: flex;
     margin-top: 20px;
}
/* aside{
    border: 2px solid blue;
} */
#contact_one{
    flex-basis: 50%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact_one>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 220px;
    margin-bottom: 20px;
}
form>input{
    width: 60%;
    height: 38px;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.181);
    border-radius: 2px ;
    margin-bottom: 10px;
}
textarea{
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.181);
    border-radius: 2px ;
    margin-bottom: 10px;
}
#send_btn{
            background-color: rgb(247, 177, 46);
    color: white;
    border: none;
    margin-top: 10px;
    font-weight: 500;
    padding: 10px 30px;
    display: flex;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    transition: all 1s 0s ease;
}
#send_btn:hover{
    background-color:orangered;
}
#contact_two{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#contact_two>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
}
#contact_two>div>p{
    font-size: 16px;
    margin-bottom: 5px;
}
#contact_two>img{
    width: 250px;
    height: 250px;
}

/* !Menu Page Styles */
#filter_menu{
    height: 20vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#filter_menu>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 20px;
}
#filter_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 50px;
}
.active{
    background-color: orange;
    color: white;
    font-weight: 500;
    
}
#filter_btns>button{
    padding: 4px 20px;
    border: 1px solid rgba(0, 0, 0, 0.179);
    border-radius: 20px;
    font-weight: 500;
    
}

/* !Menu page styles */
 .menu_items{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
background-color: rgba(236, 137, 67, 0.649);
}  

.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid rgba(0, 0, 0, 0.033);
  background-color:white;
}
.card_one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.card_img>img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.card_info{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card_info>h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 5px;
    text-align: center;
}
.card_info>p{
    text-align: center;
    font-weight: 600;
}

.card_two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding: 0px 10px 0px 40px;
}
.card_quantity{
       display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    margin: 10px 0px;
}
.minus,.plus{
    font-size: 15px;
    font-weight: 600;
    background-color: chocolate;
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.quantity{
     font-weight: 700;
      font-size: 20px;
}
.addtocart>button{
    padding: 7px 20px;
    color: white;
    background-color: chocolate;
    border: 1px solid rgba(0, 0, 0, 0.166);
    border-radius: 2px;
    font-weight: 500;
     transition: all 1s 0s ease;
}
#sidebar{
    width: 350px;
    border: 2px solid rgba(0, 0, 0, 0.232);
    background-color: white;
    height: 100vh;
    position: absolute;
    right: -350px;
    top: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 100;
    transition: all 800ms 0s ease;

}
#sidebar_one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}
#sidebar_one>h1{
    font-weight: 400;
}
#sidebar_one>p{
    font-size: 14px;
    font-weight: 500;
}
